<div class="row pt-5">
  <div class="col text-center">
    <h3 class="m-3">Actors</h3>
    <div class="alert alert-danger" *ngIf="error" >
      {{ error }}
    </div>
  </div>
</div>
<div *ngFor="let actor of actors">
  <div class="row justify-content-center">
    <div class="col-sm-4 mb-3">
      <div class="card mb-3 rounded p-2" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body bg-light">
              <h5 class="card-title"> {{ actor.name }} </h5>
              <p>Height: {{ actor.height }} </p>
              <p>Gender: {{ actor.gender }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
